body {
    background-image: url("..\\img\\lightgrayleather.gif");
}

.header {
    padding-bottom: 9px;
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 2px solid lightgray;
    font-size: 18px;
    color: #008080;
    font-weight: bolder;
}

.page-footer {
    background-color: lightgrey;
    border-top: solid 4px #008080;
    font-size: 10px;
    color: white;
    padding: 30px;
    text-align: center;
}

iframe {
    height: 100%;
    position: absolute;
}

.container {
    float: left;
    background-color: white;
    margin-left: 20px;
}

.navbar {
    background-color: white;
    font-size: 12px;
    width: 100%
}

.navbar-light .navbar-brand {
    background-color: #008080;
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    padding: 0px 8px 2px 8px;
}

a:active {
    text-decoration: none;
}

navbar-brand a:hover {
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: transparent
}

.nav-item a {
    color: darkgray;
    text-decoration: none;
}

.card-footer a {
    color: white;
}

.card {
    border: 0px;
}

.card-body {
    background-color: white;
}

.card-header {
    color: #008080;
}

.card-footer {
    background-color: #008080;
    color: white;
}